<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS-->
    <link rel="stylesheet" href="/styles/workInProgress.css" />
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap"
      rel="stylesheet"
    />
    <!--Font awesome-->
    <script
      src="https://kit.fontawesome.com/017f1c0c45.js"
      crossorigin="anonymous"
    ></script>
    <!--Scripts-->
    <script src="./scripts/hamburger.js" defer></script>
    <script src="./scripts/rating.js" defer></script>
    <title>Thermexa | About Page</title>
    <link rel="website icon" type="png" href="images//small-logo.png" />
  </head>
  <body>
    <main>
      <div class="container">
        <img src="/images/workInProgress.png" class="content-image" />
        <p>This web page is curently in development!</p>
        <p>Thank you for your understanding!</p>
        <a href="/">Take me home</a>
      </div>
    </main>
  </body>
</html>
