<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS-->
    <link rel="stylesheet" href="/styles/succes.css" />

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap"
      rel="stylesheet"
    />
    <!--Font awesome-->
    <script
      src="https://kit.fontawesome.com/017f1c0c45.js"
      crossorigin="anonymous"
    ></script>
    <!--Scripts-->

    <title>Thermexa | Finish Order Page</title>
    <link rel="website icon" type="png" href="/images/small-logo.png" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="content">
          <h1>Intrebarea ta a fost trimisa cu succes!</h1>
          <p>
            Intoarce-te la
            <a class="back-link" href="/contact">pagina anterioara </a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
