<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="/styles/shopping-cart.css">

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap" rel="stylesheet">
    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    <!--Scripts-->
    <script src="/scripts/hamburger.js" defer></script>
    <script src="/scripts/productsTotals.js" defer></script>
    
   
    
    <title>Thermexa | Shopping Cart Page</title>
</head>
<body>
    <main>
    <div class="container">
        <header class="header">
            <nav class="header-nav">
                <img src="/images/logo.png" class="logo">

                
                <ul class="navbar-list">
                    <li>
                        <i class="fa-solid fa-house"></i>
                        <a href="/">Acasa</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-address-card"></i>
                        <a href="/about">Despre noi</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <a href="/contact">Contacteaza-ne</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        <a href="/reviews">Review-uri</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-box"></i>
                        <a href="/products">Produse</a>
                    </li>
                    
                </ul>
                <div class="hamburger-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </header>
        <div class="content">
          <% if(products.length == 0){ %>
           <h1> Nu ai produse in cos.</h1>
                <p>Poti adauga produse prin apasarea butonului 'Adauga in cos' din dreptul fiecarui produs dorit.</p>
            <% }else{ %>

            <h1>Cosul tau de cumparaturi</h1>
            
        <% products.forEach(product =>{ %>
            <div class="card" id="card-element">
            <h1>Produs: <span id="description"><%= product.description %></span></h1>
            <h1>Pret: <span id="price"><%= product.price %></span> RON</h1>

            <form method="POST" action="shopping-cart/delete">

                <input type="hidden" name="itemId" value="<%= product.id %>">
                <button type="submit">
                <i class="fa-solid fa-x close-btn" id="x-button"></i>
            </button>
            </form>
        </div>
        <% }) %>
        <div class="total-card">
            <h2>Total produse: <span id="total-products-elements"></span></h2>
            <h2>Subtotal: <span id="total-prices-elements"></span> RON</h2>
        </div>
                <form method="POST" action="shopping-cart/order">

                    <input type="hidden" name="total" id="input" value="">

                <button class="finish-btn" id="button" type="submit">Finalizeaza comanda</button>
            </form>
        
                <% } %>
                <a href="/products" class="back-link"><i class="fa-solid fa-arrow-left"></i> Inapoi la pagina "Produse"</a>
        </div>
        <footer>
            <nav class="footer-nav">
                <h1>Link-uri Importante</h1>
            <ul class="footer-navbar-list">
                <li>
                    <a href="/">Acasa</a>
                </li>
                <li>

                    <a href="/about">Despre noi</a>
                </li>
                <li>
                    <a href="/contact">Contacteaza-ne</a>
                </li>
                <li>
                    <a href="/reviews">Review-uri</a>
                </li>
                <li>
                    <a href="/products">Produse</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
            </nav>
                <nav class="footer-nav-inline">
                    <ul>
                        <li>
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                        </li>
                    </ul>
                    <p>Thermexa 2023 Copyright &copy</p>
                    <h4 class="love-message">Made with &#x2764; by Ciurea Roberto Ionut from CNZG</h4>
                </nav> 
                
                <div class="newsletter">
                    <img src="/images/logo.png" class="logo">
                    <h1>Aboneza-te la newsletter</h1>
                    <form action="/" method="POST">
                    <input type="text" name="email" class="newsletter-input">
                    <button class="newsletter-btn" type="submit">Submit</button>
                </form>
                </div>

        </footer>
    </div>
</main>
</body>
</html>