<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="../styles/items-list.css">

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    <!--Scripts-->
    <script src="./scripts/hamburger.js" defer></script>
    <script src="/scripts/getData.js" defer></script>
  
    
    <title>Thermexa | Product Page</title>
    <link rel="website icon" type="png" href="images//small-logo.png">
</head>
<body>
    <main>
    <div class="container">
        <header class="header">
            <nav class="header-nav">
                <img src="./images/logo.png" class="logo">

                
                <ul class="navbar-list">
                    <li>
                        <i class="fa-solid fa-house"></i>
                        <a href="/">Acasa</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-address-card"></i>
                        <a href="/about">Despre noi</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <a href="/contact">Contacteaza-ne</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        <a href="/reviews">Review-uri</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-box"></i>
                        <a href="/products">Produse</a>
                    </li>
                    
                </ul>
                <div class="hamburger-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
            <div class="bottom-header">
                <nav>
                <h1>Centrale pe lemne</h1>
                <ul>
                    <li>
                        <a href="/shopping-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ul>
            </nav>
            </div>
        </header>
        <div class="content">
          <div class="content-grid">
            <div class="item">
                <img src="/images/photo-9.png" class="img">
                <p id="product-description">Cazan termic pe lemne Ferroli FSB Pro N 30, cu ardere normala, din otel, 30 kW</p>
                <h1 ><span id="product-price">8600</span> RON</h1>
                <button type="submit" id="submit-btn">Adauga in cos <i class="fa-solid fa-cart-shopping"></i></button>
            </div>

            <div class="item">
                <img src="/images/photo-15.png" class="img">
                <p id="product-description">Centrala pe lemne cu gazeificare Viessmann Vitoligno 100-s - 25 KW</p>
                <h1 ><span id="product-price">8500</span> RON</h1>
                <button type="submit" id="submit-btn">Adauga in cos <i class="fa-solid fa-cart-shopping"></i></button>
            </div>

          </div>
            
        </div>
        <footer>
            <nav class="footer-nav">
                <h1>Link-uri Importante</h1>
            <ul class="footer-navbar-list">
                <li>
                    <a href="/">Acasa</a>
                </li>
                <li>

                    <a href="/about">Despre noi</a>
                </li>
                <li>
                    <a href="/contact">Contacteaza-ne</a>
                </li>
                <li>
                    <a href="/reviews">Review-uri</a>
                </li>
                <li>
                    <a href="/products">Produse</a>
                </li>
                <li>
                    <a href="/faq">FAQ</a>
                </li>
            </nav>
                <nav class="footer-nav-inline">
                    <ul>
                        <li>
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                        </li>
                    </ul>
                    <p>Thermexa 2023 Copyright &copy</p>
                    <h4 class="love-message">Made with &#x2764; by Ciurea Roberto Ionut from CNZG</h4>
                </nav> 
                
                <div class="newsletter">
                    <img src="images/logo.png" class="logo">
                    <h1>Aboneza-te la newsletter</h1>
                    <form action="/" method="POST">
                    <input type="email" name="email" required class="newsletter-input">
                    <button class="newsletter-btn" type="submit">Submit</button>
                </form>
                </div>

        </footer>
    </div>
</main>


</body>
</html>