/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*::before,
*::after {
  box-sizing: inherit;
}
/*Custom variables*/
:root {
  --bg-600: hsl(35, 22%, 10%);
  --ac-300: hsl(31, 91%, 53%);
  --ac-300-hover: hsl(31, 91%, 45%);
  --ac-100: hsl(0, 3%, 93.5%);
  --ac--000: hsl(0, 0%, 91%);
  --white: hsl(0, 0%, 100%);
  --main-ff: "Exo", sans-serif;
  --ac-400: hsl(51, 100%, 50%);
  --ac-200: hsl(0, 0%, 80%);
}

/*Global styles*/
.container {
  width: 100%;
  min-width: 50%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 100%;
}
body {
  overflow: auto;
}

/*Content*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10%;
  max-width: 100%;
}
.content p,
h1 {
  font-family: var(--main-ff);
}

.back-link {
  color: var(--ac-300);
}
.back-link:hover {
  transition: ease-in-out;
  color: var(--ac-300-hover);
}
